.container{
	width: 1070px;
	margin: 0 auto;
}
#top_wrapper{
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
}
.top{
    height: 30px;
    line-height: 30px;
}
.l1{
    float: left;
    margin-left: 30px;
}
.l2{
    float: left;
    margin-left: 50px;
    width: 238px;
}

.hd_topbar_right{
    float: right;
    width: 348px;
}
.hd_unlogin{
    float: left; 
}
.hd_login_link{
    color: red;
    margin-right: 20px;
}
.hd_regist_link{
    color: #aaaaaa;
    margin-right: 20px;
}
.hd_menu{
    float: left;
    margin-right: 20px;

}
#header_wrapper{
	height: 142px;
}
.header{
	height: 142px;
}
.logo{
	float: left;
}
.logo a{
	display:block;
	text-indent:-9999px;
}


/* logo和导航 */
#second_wrapper{
    background: #ffffff;   
}
.second{
    display: flex;
    align-items: center;
}
.logo{
    margin-top:10px; 
}
.logo1{
    margin-top:20px; 
}
.logo1 img{
    padding-left: 10px;
}
.search{
    width: 512px;
    height: 42px;
    float: right;
    background:#f8f8f8;
    box-sizing: border-box;
    position: relative;
    margin-left: 128px;
    
    
}
.search input{
    width: 510px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    border:1px solid #e2e2e2;
    padding-left: 34px;
    padding-right:34px; 
    position: relative;
}
.fdj{
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.cart{
    height: 40px;
    width: 130px;
    float: right;
    border: 1px solid #d7d7d7;
    border-radius:20px; 
    box-sizing: border-box;
    font-size: 16px;
    color: #666666;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}
.cart .icon-gouwuchekong{
    font-size: 20px;
    padding-right: 5px;
}
.hot{
    position: absolute;
    top:135px;
    right: 356px;
    display: flex;

}
.hot li{
    margin-right: 12px;
}
.hot li a{
    color: #aaaaaa;
    font-size: 14px;
}

/* 导航开始 */
.nav{
    width: 1070px;
    height: 38px;
    display: flex;
    text-align: center;
}
.categoryBox{
    width: 140px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    background-color: #ff4040;
}
.nav-list{
    display: flex;
}
.nav-list a{
    font-size: 16px;
    color: #333;
    line-height: 38px;
    margin-left:30px; 
}
/* 二级导航 */
.category-list{
    position: absolute;
    width: 1068px;
    height: 410px;
    background-color: #fff;
    border: 1px solid #ff4040;
    z-index: 1001;
}
.column-item{
    float: left;
    width: 177px;
    border-right: 1px solid #e9e9e9;
}
.title{
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: bold;
}
.inner{
    margin-top:30px; 
    height: 175px;
}
.text {
    float: left;
    width: 50%;
    display: inline-block;
    line-height: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 16px;
}

/* 轮播图 */
.wrapper {
    width: 1349px;
    overflow: hidden;
    position: relative;
}
ul {
}

ul li {
    float: left;
}

ol {
    position: absolute;
    right: 225px;
    bottom: 10px;
    width: 150px;
}

ol li {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    background-color: #fff;
}

ul li.active {
    display: block;
}

ol li.current {
    background-color: #000;
    color: #fff;
}
.left-btn, .right-btn {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 32px;
    height: 40px;
}
.left-btn {
    left: 0;
}
.right-btn {
    right: 0;
}
.left-btn, .right-btn {
    display:none;
}
.a2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.a3 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}


























