//万能清除法
.clearfix:after{
	content : ".";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}
#registerTop{
	height: 48px;
	width: 1315px;
	padding: 16px;
	border: 1px solid #e1e1e1 ;
	margin: 0 auto;
}
#registerTop img{
	width: 145px;
	height: 55px;
	margin-left: 50px;
	float: left;
}
.loginText {
	color: #0068CB;
}
#registerTop ul{
		float: right;
		margin-right: 35px;
}
#registerTop ul li{
	float: left;
	margin-left: 30px;
	height: 48px;
	line-height: 48px;
}
#registerMidden {
	height: 500px;
	width: 1200px;
	margin: 0 auto;
	background: url(../img/r_icon2.png);
	position: relative;
}
.registerText{
	width: 330px;
	height: 463px;
	position: absolute;
	left: 434.5px;
	top: 20px;
}
.registerText h2{
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	color: #000;
	height: 50px;
	line-height: 50px;
}
.registerText li{
	position: relative;
}
.registerText li div{
	position: absolute;
	top: 10px;
	left: 335px;
	width: 170px;
	height: 30px;
	display: none;
	background: url(../img/reg_info3.png);
	padding: 15px;
	background-size: 200px;
	color: red;
}
.registerText #succ{ 
	color: #fff;
	font-weight: 1000;
	background: #00ACFF;
	display: list-item;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50px;
	position: absolute;
	top: 25px;
	left: 335px;
	display: none;
}
.registerText p{
	margin-top: 10px;
}
.registerText p a{
	color: #0000FF;
}
.registerText input{
	width: 328px;
	height: 50px;
	border: 1px solid #e1e1e1;
	margin-top: 10px;
}
.registerText #userNameText,
.registerText #phoneText,
.registerText #pwdText,
.registerText #pwdsText{
	position: absolute;
	height: 50px;
	font-size: 16px;
	text-align: center;
	left: 10px;
	top: 25.5px;
}
#sub{
	height: 52px;
	width: 330px;
	font-size: 20px;
	text-align: center;
	line-height: 52px;
	color: #fff;
	background: red;
}
#registerBottom{
	margin-top: 20px;
	text-align: center;
}
#registerBottom p{
	margin-top: 10px;
}